.title {
    background: linear-gradient(rgb(247, 118, 118), rgb(187, 187, 51), rgb(247, 118, 118) );
}

.header {
    display: flex;
    justify-content: center;
    
}

.subheader {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}