.single-store {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 2px solid;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.436);
  }

.store_info_link {
    display: flex;
    justify-content: center;
}

.store_list_address {
    display: flex;
    justify-content: center;
}

.store_list_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 450px;   
}

.store_search_bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 400px;
}

.owner_stores {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 2px solid;
    width: 500px;
    background-color:rgba(255, 255, 255, 0.436);
}

.owner_stores_delete_button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.favorite_store {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 2px solid;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.436);
}

.favorite_store_delete_button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.favorite_store_button_back {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 10px;
}